<div class="container">

    <div class="text-center">

        <h1 class="text-center">Delicious<br>BURGERS</h1>
        <img id="burger-img" src="/assets/images/burger.png">
        <form class="create-update-form" action="/" method="POST">
            <div class="form-group">
                <input type="text" class="chalk-border" id="new-burger" name="burger_name">
                <input type="submit" id="add-burger" value="Place Order">
            </div>
        </form>
    </div>


    <div class="row">

        <div class="col-lg-6">
            <h2>Order List</h2>

            <ul class="list-group">
                {{#each burgers}}
                {{#unless this.devoured}}
                <li class="list-group-item">
                    <h3>{{this.burger_name}}</h3>

                    <button id="devour-burger" class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">
                        DEVOUR IT!
                    </button>

                    <button id="cancel-burger" class="cancel" data-id="{{id}}">
                        CANCEL IT!
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-lg-6">
            <h2>Fulfilled</h2>

            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item">
                    <h3>{{this.burger_name}}</h3>

                    <button id="order-burger" class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">
                        ORDER IT AGAIN!
                    </button>

                    <button id="cancel-burger" class="cancel" data-id="{{id}}">
                        No thanks.  Drop this burger.
                    </button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>




</div>

<!-- borders -->
<div id="top"></div>
<div id="bottom"></div>
<div id="left"></div>
<div id="right"></div>