<div class="container">

    <div class="text-center">

        <h1 class="text-center">Delicious<br>BURGERS</h1>
        <img id="burger-img" src="/assets/images/burger.png">
        <form class="create-update-form" action="/" method="POST">
            <div class="form-group">
                <input type="text" id="new-burger" name="burger_name">
                <input type="submit" id="add-burger" value="Place Order">
            </div>
        </form>
    </div>


    <div class="row">

        <div class="col-lg-6">
            <h2>Order List</h2>

            <ul class="list-group">
                {{#each burgers}}

                {{!-- Don't understand why this.burger_name has a value, but 
                this.Burger.dataValues.burger_name doesn't
                while this.Customer.dataValues.customer_name has a value, but
                this.customer_name doesn't give me a value 

                this.burger_name {{this.burger_name}} works<br>
                this.customer_name {{this.customer_name}} doesn't work<br>
                this.dataValues.burger_name {{this.dataValues.burger_name}} works<br>
                this.dataValues.customer_name {{this.dataValues.customer_name}} doesn't work  <br>
                this.Burger.dataValues.burger_name {{this.Burger.dataValues.burger_name}} doesn't work
                this.Customer.dataValues.customer_name {{this.Customer.dataValues.customer_name}}  works
                --}}
                {{#unless this.devoured}}
                <li class="list-group-item">
                    <h3>{{this.burger_name}} &mdash; for 
                        
                        <span class="customer" data-burgerid="burger{{this.id}}" data-customerid="customer{{this.Customer.dataValues.id}}">{{this.Customer.dataValues.customer_name}}</span>
                        <input type="text" name="customer" class="edit-customer" id="burger{{this.id}}" data-customerid="{{this.Customer.dataValues.id}}" value="{{this.Customer.dataValues.customer_name}}"></h3>

                    <button id="devour-burger" class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">
                        DEVOUR IT!
                    </button>

                    <button id="cancel-burger" class="cancel" data-id="{{id}}">
                        CANCEL IT!
                    </button>

                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-lg-6">
            <h2>Fulfilled</h2>

            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item">
                    <h3>{{this.burger_name}} &mdash; for {{this.Customer.dataValues.customer_name}}</h3>

                    <button id="order-burger" class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">
                        ORDER IT AGAIN!
                    </button>

                    <button id="cancel-burger" class="cancel" data-id="{{id}}">
                        No thanks. Drop this burger.
                    </button>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>




</div>

<!-- borders -->
<div id="top"></div>
<div id="bottom"></div>
<div id="left"></div>
<div id="right"></div>